label{
	display: none;
}

.login_holder{
	margin-top: 200px
}

.login_holder h3{
	padding-bottom: 20px;
  font-size: 40px;
	text-shadow: 1px 1px 1px #535353;
}

.login__button, .goback__button, .reset_pass__button{
	height: 35px;
	width: 100px;
	box-shadow: 1px 3px 3px #535353;
	margin-bottom: 15px;
	background-color:#00bcddfd ;
	border-radius: 5px;
	color:black;
}

.login__button:hover{
	background-color:#006b7e;
	color: white;
	transition: ease-in-out 0.2s;
	transform: scale(1.08);
	cursor: pointer;
}

.displayPassword{
	padding-bottom: 20px;
	margin-top: 20px;
}
.showpass{
	display: inline;
}

.login__help{
	margin-bottom: 30px;
	margin-top: 10px;
	font-size: 20px;
}

.login__help:hover{
	cursor: pointer;
}

.forgot__pass:hover, .forgot__user:hover{
	color: #00bcddfd;
	text-shadow: 0.5px 0.5px #535353;;
}

.login__reg{
	text-decoration: none;
	color: black;
}

.login__reg:hover{
	color: #00bcddfd;
	text-shadow: 0.5px 0.5px #535353;;
}

.forgotPass_holder{
	margin-top: 250px
}

.forgotPass_holder h3{
	padding-bottom: 20px;
  font-size: 40px;
	text-shadow: 1px 1px 1px #535353;
	margin-bottom: px;
}

.forgot_pass_buttons{
	justify-content: space-evenly;
}

.forgotUser_holder{
	margin-top: 250px;
}

.forgotUser_holder h3{
	padding-bottom: 20px;
  font-size: 40px;
	text-shadow: 1px 1px 1px #535353;
	margin-bottom: px;
}

.error {
	color: red;
}

.message {
	color: red;
	margin: 10px;
}