*{
    font-family: Arial, Helvetica, sans-serif;
}
.meal_entries{
    margin-top: 15px;
    margin-bottom: 15px;
}
.meal__box {
    margin-bottom: 5px;
    margin-top: 20px;
    border-radius: 5px;
    height: 40px;
    box-shadow: 1px 3px 3px #535353;
}
.meal_entries input[placeholder] {
    font-size: 20px;
}
.meal_entries input[type='text'], [type='number'] {
    width: 50%;
    border: 2px solid #2B2A2A;
    font-size: auto;
}
.user__carb-form{
    height: auto;
    min-height: 60vh;
}
.user__carb-form-error{
    color: red;
    margin-top: 10px;
}
.refresh{
    background: transparent;
    border: none;
    cursor: pointer;
    
}

.refresh i{
    font-size: 30px;
}
.meal__button{
    border-radius: 5px;
    border: none;
    height: 50px;
    font-size: 20px;
    margin-bottom: 10px;
    transition: ease-in-out 0.5s;
}
 .meal__button:hover{
    font-size: large;
    background-color: green;
    cursor: pointer;
    margin-bottom: 10px;
    transform: scale(1.01);
    transition: ease-in-out 0.5s;
}
.meal_control {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.meal__button{
    margin-top: 20px;
    width: 100px;
    padding: 10px;
    border: none;
    color: white ;
    background-color: black;
    box-shadow: 1px 3px 3px #535353;
}
.meal__header{
    width:60%;
    min-width: 300px;
    font-size: 30px;
    border: 2px solid #2B2A2A;
    border-radius: 5px;
    padding-bottom: 30px;
    padding-top: 20px;
    margin: 20px auto;
    box-shadow: 1px 3px 3px #535353;
}

@media screen and (max-width: 360px) {
    .meal__header {
        min-width: 280px;
        width: 50%;
        max-width: 320px;
        font-size: 18px;
        margin: 5px auto;
        padding: 5px;
    }
}