.reg__holder {
    margin-top: 160px;
    width: 0 auto ;
}

.reg__holder h3{
    padding-bottom: 20px;
    font-size: 40px;
    text-shadow: 1px 1px 1px #535353;
}

.register-form{
    margin-top: 20px;
}
.name_input, .username_input, .password_input{
    margin-bottom: 20px;
    border: 2px solid #00bcddfd;
    border-radius: 5px;
    box-shadow: 1px 3px 3px #535353;
    height: 35px;
    width: 40%;
    font-size: larger;
    outline: none;
}

.name_input:focus, .username_input:focus, .password_input:focus{
    box-shadow: none;
    border: 2px solid #006b7e ;
}

.gender_input{
    margin-bottom: 30px;
    border-radius: 5px;
    height: 35px;
    font-size: large;
    border: 2px solid #00bcddfd;
    box-shadow: 1px 3px 3px #535353;
    outline: none;
}

.gender_input:focus{
    box-shadow: none;
    border: 2px solid #006b7e ;
}


.reg_button[disabled]{
    background-color: rgb(167, 167, 167);
    color:black;
}
.reg_button[disabled]:hover{
    background-color: rgb(167, 167, 167);
    color:black;
    transform: none;
    cursor:not-allowed;
}

.reg_button{
    height: 35px;
    width: 100px;
    box-shadow: 1px 3px 3px #535353;
    margin-bottom: 15px;
    background-color:#00bcddfd ;
    border-radius: 5px;
    color:black;
}

.reg_button:hover{
    background-color:#006b7e;
    color: white;
    transition: ease-in-out 0.2s;
    transform: scale(1.08);
    cursor: pointer;
}


