
.react-calendar {
  margin-top: 50px;
  width: 90%;
  display: inline-block;
  border: 3px solid #2b2a2a;
  border-radius: 5px;
  box-shadow: 4px 3px 3px #535353;
}

.react-calendar__navigation {

  .react-calendar__navigation__arrow {
      display: none;
  }

  .react-calendar__navigation__label {
      font-size: 35px;
      cursor: pointer;
  }
}

.react-calendar__tile {
  height: 60px;
  cursor: pointer;
}

.react-calendar__month-view__weekdays__weekday {
  font-size: 20px;
  
}

.react-calendar__tile--active {
  background: #00d7fd;
  color: black;
  
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #00bcdd;
  
}

.react-calendar__tile,
.react-calendar__month-view__days__day {
  font-size: 32px;
}
