.app_footer{
    position: fixed;
    bottom: 0; left: 0; right:0;
    height: 60px;
    border-bottom: solid; border-width: thin; border-color: rgb(109, 106, 106);
    text-align: center;
    padding:15px;
    background-color:  rgb(12, 10, 104); 
    color: white;
}
.app_footer div {
    padding:10px;
}

.app_footer a {
    color: white;
}
.app_footer a:hover {
    color: yellow;
}