.home {
  margin-top: 100px;
}
.dash {
  font-size: 2.2em;
  text-shadow: 1px 3px 3px #53535388;
}
.my_calories {
  margin-bottom: 5px;
  text-shadow: 1px 1px 1px #5353538a;
}
.calorieTotal {
  display: inline-flex;
  color: rgb(1, 134, 1);
  padding-top: 10px;
  font-size: 1.7em;
}

@media screen and (max-width: 360px) {
  .dash {
    font-size: 1em;
  }
}