.fitnessTips {

  margin-top: 75px;
  position: relative;
}

.header {
  position: relative;;
  text-align: center;
  font-size: 60px;
}

.fitness__options {
  font-size: 28px;
  text-decoration: underline;
}

.imgContainer {
  padding-top: 20px;
}

h2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

img {
  transition: transform 0.4s;
  border-radius: 4px;
}
img:hover {
  transform: scale(1.05);
  opacity: 90%;
}