.fitnessTips {
  margin-top: 75px;
  position: relative;
}
.header {
  position: relative;;
  text-align: center;
  font-size: 60px;
}
.fitness__options {
  font-size: 28px;
 
}
.fitness__image {
  height: 500px;
  transition: ease-in-out 0.4s;
  border-radius: 4px;
  box-shadow: 5px 9px 4px #535353;
}
.fitness__image:hover {
  transform: scale(1.02);
  transition: ease-in-out 0.5s;
}
.imgContainer {
  padding: 20px;
}
h1, h2{
  text-shadow: 1px 1px 1px #535353;
}

h2 {
  padding-top: 20px;
  padding-bottom: 20px;
}